* {
  font-family: sans-serif;  
  color: rgb(112, 132, 148);
  margin: 3px;
}

body {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;  
  background-color: rgb(56, 55, 57);
}

.container_1 {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: start;
  width: 100%;
  max-width: 100%;
}

.container_2 {
  display: flex;  
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  max-width: 100%;
}

.container_input{
  display: flex;
  justify-content: center ;  
  align-items: stretch ;
  width: 100%;
}

input {
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgb(184, 184, 184);
  color: rgb(81, 89, 101);
  font-size: 1.3rem;
  outline: none;
  padding: 10px 15px;
  margin: 10px;
  width: 100%;
  
}

button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  padding: 10px 16px;
}

h1 {
  font-size: 4.5rem;  
  font-weight: "normal
}

h2 {
  font-size: 2.5rem;
  margin: 20px;
  color: #ea4c89;
  text-transform: capitalize;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  align-items: center;  
  border-radius: 10px;
  box-shadow: #ea4c89;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 80%;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 8px;
  overflow: hidden;
  font-size: 1rem;
  color: rgb(117, 117, 117);
  text-align: center;
}

.card p {    
  flex: 1;    
  margin: 10px;
  
  border-radius: 10px;
}

.card p:first-letter {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: brown;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

